<virtualhost  *:{{ httpd_port }} >

  servername {{ httpd_domain }}
  documentroot /var/www/html/{{ httpd_domain }}
  directoryindex index.php index.html 

  <directory /var/www/html/{{ httpd_domain }}>
     allowoverride all
  </directory>

</virtualhost>
